## Turn on rewrite engine
RewriteEngine on

# Remove trailing slash from non-filepath urls
RewriteCond %{REQUEST_URI} /(.+)/$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ https://www.kentcpp.com/%1 [R=301,L]

# Include trailing slash on directory 
RewriteCond %{REQUEST_URI} !(.+)/$
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+)$ https://www.kentcpp.com/$1/ [R=301,L]

# Force HTTPS and WWW 
RewriteCond %{HTTP_HOST} !^www\.(.*)$ [OR,NC]
RewriteCond %{https} off  
RewriteRule ^(.*)$ https://www.kentcpp.com/$1 [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SSL_REDIRECT:tutlegoss.com
# DO NOT REMOVE THIS LINE AND THE LINES BELOW SSL_REDIRECT:kentcpp.com
#RewriteEngine on
#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP_HOST} ^kentcpp.com$
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SSL_REDIRECT:kentcpp.com

<IfModule mod_php5.c>
#php_flag log_errors on 
#php_value error_log ./path_to_MY_PHP_ERRORS.log
php_flag display_errors on 
</IfModule>
